body {
  background: #6B9E65;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 , .reveal h6 {
  text-transform: none;
}

.reveal a {
  color: #333333;
}

.reveal section img.logo {
  border: none;
  width: 50%;
  padding: 20px;
}


.reveal ul.no-bullets {
  list-style-type: none;
}

.reveal ul.no-bullets li {
  float: left;
  margin-left: 20px;
}
